<ion-view view-title="Add Shipment">
    <ion-content class="padding">
    <form>
    
    <label class="item item-input"><input type="text" placeholder="From Who" required></input> </label>
    <div class="card" align="center">
    <div class="item item-text-wrap">
    <h4>Upload Product and Invoice Images Here</h4>
    
    <div align="center"><label class="item item-input"> <input type="file" name="pic"accept="image/*" multiple></input></label></div>
    </div>
    </div>
   
    
   
    
      <label class="item item-input">  <input type="text" placeholder="Issues With Shipment" required></input> </label>
     
     
        
       <label class="item item-input"> <input type="text" placeholder="Employee Name" required></input></label>
    
    
    
    <button class="button button-full button-outline button-energized" ui-sref="shipmentCon" >
        
      Add This Shipment
      </button>
      </form>
    </ion-content>
</ion-view>
  