<ion-view view-title="Register">
    <ion-content class="padding">
        <form>
       <label class="item item-input"><input type="text" placeholder="Store Name" required></input></label>
       <label class="item item-input"><input type="text" placeholder="Owners First Name" required></input></label>
      <label class="item item-input"><input type="text" placeholder="Owners Last Name" required></input></label>
        <label class="item item-input"><input type="text" placeholder="Password" required></input></label>
      
        
    <button class="button button-full button-balanced">
      <h1>GO</h1>
      </button>
      </form>
    </ion-content>
</ion-view>
