<ion-view view-title="Shipment Control">
    <ion-content class="padding">
   
    
    <button class="button button-full button-outline button-energized">
      Add Shipment
      </button>
     
     
       <div  class="card" align="center">
    <div class="item item-text-wrap"> 
     <div align="center"> <h4>Take Photos of Products in Shipment as Well as a Photo of Invoice Before Adding a Shipment</h4></div>
    </div>
    </div>
     
     
      
      <button class="button button-full button-outline button-energized">
      View Shipment
      </button>
    
    </ion-content>
</ion-view>
