
 
  <ion-view view-title="Shipment Info List">
    
    <ion-nav-buttons side="right">
        <button class="button button-outline button-energized" ui-sref="shipmentCon"> Back </button> </ion-nav-buttons>
    
    <ion-content class="padding">
  
      <ion-item ng-repeat="stuff in shipments">
        
        
        <h2>Shipment Name</h2>
        <h5>{{stuff.shipmentName}}</h5>
        <h2>Image</h2>
      
      <center> <img ng-src="{{stuff.img1url}}"></img></center>
        <h2>Any Issues</h2>
        <h5>{{stuff.issues}}</h5>
        <h2> Employee Name</h2>
        <h5>{{stuff.workerName}}</h5>
        
     
      
       </ion-item>
       
       

    </ion-content>
</ion-view>



<!--ng-src =img url-->




 