
 
  <ion-view view-title="Shipment Info List" hide-back-button="true">
    
    <ion-nav-buttons side="right">
        <button class="button button-outline button-energized" ui-sref="shipmentCon"> Back </button>  
        </ion-nav-buttons>
   
    <ion-content class="padding">
       
  
      <ion-item class="shipclass" ng-repeat="stuff in shipments track by $index">
        
        
        <h2>Shipment Name</h2>
        <h5>{{stuff.shipmentName}}</h5>
        <!--<h2>Image</h2>-->
        
        <!-- <center> <img ng-src="{{stuff.img1}}" width="150px"></img></center>-->
         <!--<h2>Image</h2>-->
         <!-- <center> <img id="imgURI2" ng-src="{{stuff.img2}}" width="150px"></img></center>-->
         <!-- <h2>Image</h2>-->
         <!--  <center> <img id="imgURI3" ng-src="{{stuff.img3}}" width="150px"></img></center>-->
        
        
      
      <center> <img ng-src="{{stuff.img1url}}" width="150px"></img></center>
        <h2>Any Issues</h2>
        <h5>{{stuff.issues}}</h5>
        <h2> Employee Name</h2>
        <h5>{{stuff.workerName}}</h5>
        
     
      
       </ion-item>
       
       

    </ion-content>
</ion-view>



<!--ng-src =img url-->




 